//Color
$main: #F2F2F2
$second: #fff
$highlight: #EBEBEB
$display: #D7D7D7

//Size
$title2: 36px
$p: 20px

*
    font-family: 'Jua', sans-serif, '微軟正黑體'
    // border: solid 1px 
    user-select: none
    box-sizing: border-box

html,body
    width: 100vw
    // max-width: 1024px
    height: 100vh
    margin: 0
    overflow-x: hidden

header
    background-color: $display
    position: relative
    height: 130px
    width: 100%
    margin: 0 auto
    .logo
        position: absolute
        font-size: $title2
        display: inline-block   
        left: 30%
        top: 50%
        transform: translate(-50%,-50%)
        p
            letter-spacing: 5px
            .t
                color: #f1b8e4
            .a
                color: #fd7d36
            .i
                color: rgba(255, 209, 102, 0.8)
            .n
                color: rgba(6, 214, 160, 0.8)
            .a2
                color: rgba(2,166,209,0.8)
            .n2 
                color: #c17151
    .search
        display: inline-block
        position: absolute
        left: 60%
        top: 50%
        transform: translate(-50%,-50%)
        color: $second
        input
            border: none
            border-bottom: 2px solid $second
            background: transparent
            width: 250px
            outline: none
        input::-webkit-input-placeholder
            color: $second
            font-size: $p

.container
    background-color: $main
    max-width: 1200px
    margin: 0 auto
    padding: 0
    position: relative
    .main
        width: 100%
        padding-bottom: 100px
        .left_column
            margin-left: 5%
            width: 30%
            background-color: $highlight
            display: inline-block
            .location
                padding-left: 40px
                padding-top: 5px
                border-bottom: 1px solid
                padding-bottom: 20px
                h3
                    font-size: $p
                select
                    border-radius: 2px 
                    width: 60%
                    height: 40px
            .categories
                padding-left: 40px
                padding-top: 5px
                h3
                    font-size: $p
                label
                    font-size: 16px
                    margin-bottom: 10px
        .right_column
            width: 60%
            display: inline-block
            vertical-align: top
            .info
                margin-left: 20px
                h3
                    font-size: $p
                ul
                    list-style: none
                    padding: 0
                    li
                        display: inline-block
                        border: solid 1px $display
                        padding: 5px 15px   
                        border-radius: 100px
                        &:hover
                            background-color: $display
                        .close
                            cursor: pointer
                            font-size: 15px
            .block
                height: auto
                width: 100%
                background-color: $second
                margin-left: 20px
                margin-bottom: 20px
                cursor: pointer
                &:hover
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
                    transition: all 0.3s
                .main_img
                    height: 220px
                    width: 220px
                    background-image: url('../tai.jpg')
                    display: inline-block
                    background-size: cover
                .main_content
                    margin: 0
                    width: calc(100% - 300px)
                    display: inline-block
                    vertical-align: top
                    padding-left: 20px
                    .title
                        text-align: center
                        h3
                            font-size: 24px
                    .brief
                        margin-top: -20px
                        height: 60px
                        overflow: hidden
                        p
                            font-size: 16px
                            line-height: 24px
                            text-align: left
                            height: 100%
                    .list
                        margin-top: 20px
                        span
                            border: solid 1px 
                            padding: 5px 15px   
                            border-radius: 100px
                            background-color: $display
                            color: $second
                    .item
                        margin-top: 20px
                        .place
                            display: inline-block
                            span
                                margin-left: 5px
                        .tel
                            display: inline-block
                            margin-left: 30%
                            span
                                margin-left: 5px
    footer
        height: 100px
        width: 100%
        position: absolute
        bottom: 0
        ul
            height: 40px
            padding: 0
            margin-left: 40%
            text-align: center
            padding-top: 1%
            li
                display: inline-block
                border: 1px solid #ECEEEF
                background-color: $second
                font-size: 16px
                padding: 5px
                cursor: pointer
            
                    

@media screen and (max-width: 1024px)
    .container
        max-width: 1024px
        height: initial
        


@media screen and (max-width: 768px)
    .container
        max-width: 768px
        height: initial
        .main
            width: 100%
            .right_column
                padding-right: 10px
                .block
                    width: 100%
                    height: 450px
                    .main_img
                        height: 50%
                        width: 100%
                    .main_content
                        width: 100%
                        height: 50%


@media screen and (max-width: 414px)
    header
        height: 70px
        .logo  
            left: 50%
        .search
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%,-50%)
            color: black
            input
                border-bottom: 2px solid black
            input::-webkit-input-placeholder
                color: #9B9B9B
    .container
        max-width: 414px
        height: initial
        .main
            width: 100%
            .left_column
                width: 100%
                display: block
                margin: 0   
                margin-bottom: 10px  
                .location   
                    text-align: center
                    padding: 0   
                    padding-bottom: 10px           
                .categories
                    padding: 0
                    padding-bottom: 10px
                    border-bottom: 1px solid
                    h3
                        text-align: center
                    .categorie
                        margin-left: 35%
                        display: inline-block
            .right_column
                width: 100%
                padding: 0
                .info
                    display: none
                .block
                    width: 100%
                    height: 450px
                    margin: 0
                    .main_img
                        height: 50%
                        width: 100%
                    .main_content
                        width: 100%
                        height: 50%


    











            
            
    