<!DOCTYPE html>
html(lang="en")
    head
        - var name = 'Stage2 - Filter'
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= name
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua|Oxygen" rel="stylesheet")
        link(rel="stylesheet", type="text/css" href="css/style.css")
    body
        header
            .logo
                p
                    span.t T
                    span.a A
                    span.i I
                    span.n N
                    span.a2 A
                    span.n2 N
            .search
                .fas.fa-search
                input(type="text", placeholder="Explore your own activities")
        .container
            .main
                .left_column
                    .location
                        h3 Location
                        select#select(onchange="locationFilter(this)")
                    .categories
                        h3 Categories
                        .categorie
                            form#form(action="")
                                input#check1(type="checkbox" value="All") 
                                label(for="check1") All
                                br
                #right_column.right_column
                    #info.info                     
                        ul#ul
                    //- .block
                        //- .main_img
                        //- .main_content
                        //-     .title
                        //-         h3 
                        //-     .brief
                        //-         p
                        //-     .list
                        //-         //span
                        //-     .item
                        //-         .place
                        //-             i.fas.fa-map-marker-alt
                        //-             span 
                        //-         .tel
                        //-             i.fas.fa-phone
                        //-             span 
            footer
                ul
                    li(style="border-radius: 4px")
                        i.fas.fa-angle-double-left
                    li 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li(style="border-radius: 4px")
                        i.fas.fa-angle-double-right 

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="../js/index.js")