<!DOCTYPE html>
html(lang="en")
    head
        - var name = 'Stage2 - Filter'
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= name
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua|Oxygen" rel="stylesheet")
        link(rel="stylesheet", type="text/css" href="css/style.css")
    body
        .container
            header
                .logo
                    p
                        span.t T
                        span.a A
                        span.i I
                        span.n N
                        span.a2 A
                        span.n2 N
                .search
                    .fas.fa-search
                    input(type="text", placeholder="Explore your own activities")
            .main
                .left_column
                    .location
                        h3 Location
                        select
                            option(value="") 麻豆區
                    .categories
                        h3 Categories
                        form(action="")
                            input(type="checkbox")
                            label(for="") All
                        form(action="")
                            input(type="checkbox")
                            label(for="") 歷史古蹟
                        form(action="")
                            input(type="checkbox")
                            label(for="") 宗教廟宇
                .right_column
                    .info
                        h3 Show $num results by                        
                        ul
                            li 歷史古蹟
                                span.close
                                    i.fa.fa-times-circle-o
                            li 宗教廟宇
                    .block
                        .main_img
                        .main_content
                            .title
                                h3 南鯤鯓代天府
                            .brief
                                p 在許多台南人的記憶當中，對南鯤鯓代天府的印象就是超熱鬧的廟會，每天參拜進香的信徒及慕名而來的遊客不計其數，主要祀奉李、池、吳、朱、范等五位王爺，五位王爺與囝仔公爭地建廟的神話故事至今依然讓很多人津津樂道著，沿海的王爺信仰在這裡展露無遺，2012年11月更是完成了一件創舉，將建廟以來信徒捐贈的大大小小金牌加上廟方添購，共集結了一萬零八百兩黃金，在廟內的凌霄寶殿打造了總價約6億多，也是全球最大的黃金玉旨牌，從1984年開始，至2012年完成，可說是建廟300多年來的超大盛事。\r\n每年固定舉辦的平安鹽祭，在10~11月間就會陸陸續續的舉辦一連串的活動，每年樣子都不同的平安鹽袋更是大家排隊爭著領取收集的熱門紀念品，拿到平安鹽袋後，到廟前廣場的鹽堆拿些鹽裝入，再到香爐過爐，就是納福驅邪的小寶物。 
                            .list
                                span 歷史古蹟
                            .item
                                .place
                                    i.fas.fa-map-marker-alt
                                    span 麻豆區
                                .tel
                                    i.fas.fa-phone
                                    span 06-7863711
                    .block
                        .main_img
                        .main_content
                            .title
                                h3 南鯤鯓代天府
                            .brief
                                p 在許多台南人的記憶當中，對南鯤鯓代天府的印象就是超熱鬧的廟會，每天參拜進香的信徒及慕名而來的遊客不計其數，主要祀奉李、池、吳、朱、范等五位王爺，五位王爺與囝仔公爭地建廟的神話故事至今依然讓很多人津津樂道著，沿海的王爺信仰在這裡展露無遺，2012年11月更是完成了一件創舉，將建廟以來信徒捐贈的大大小小金牌加上廟方添購，共集結了一萬零八百兩黃金，在廟內的凌霄寶殿打造了總價約6億多，也是全球最大的黃金玉旨牌，從1984年開始，至2012年完成，可說是建廟300多年來的超大盛事。\r\n每年固定舉辦的平安鹽祭，在10~11月間就會陸陸續續的舉辦一連串的活動，每年樣子都不同的平安鹽袋更是大家排隊爭著領取收集的熱門紀念品，拿到平安鹽袋後，到廟前廣場的鹽堆拿些鹽裝入，再到香爐過爐，就是納福驅邪的小寶物。 
                            .list
                                span 歷史古蹟
                            .item
                                .place
                                    i.fas.fa-map-marker-alt
                                    span 麻豆區
                                .tel
                                    i.fas.fa-phone
                                    span 06-7863711

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")