<!DOCTYPE html>
html(lang="en")
    head
        - var name = 'Stage2 - Filter'
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= name
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua|Oxygen" rel="stylesheet")
        link(rel="stylesheet", type="text/css" href="css/style.css")
    body
        header
            .logo
                p
                    span.t T
                    span.a A
                    span.i I
                    span.n N
                    span.a2 A
                    span.n2 N
            .search
                .fas.fa-search
                input(type="text", placeholder="Explore your own activities")
        .container
            .main
                .left_column
                    .location
                        h3 Location
                        select#select
                    .categories
                        h3 Categories
                        .categorie
                            form#form(action="")
                                input(type="checkbox") 
                                label(for="") All
                                br
                                input(type="checkbox")
                                label(for="") 歷史古蹟
                                br
                                input(type="checkbox")
                                label(for="") 宗教廟宇
                                br
                                input(type="checkbox")
                                label(for="") 在地藝文
                                br
                                input(type="checkbox")
                                label(for="") 地方展館
                                br
                                input(type="checkbox")
                                label(for="") 戶外運動
                                br
                                input(type="checkbox")
                                label(for="") 休閒農漁
                                br
                                input(type="checkbox")
                                label(for="") 主題園區
                                br
                                input(type="checkbox")
                                label(for="") 公園綠地
                                br
                                input(type="checkbox")
                                label(for="") 生態教育
                .right_column
                    .info
                        h3 Show $num results by                        
                        ul#ul

                    .block
                        .main_img
                        .main_content
                            .title
                                h3 
                            .brief
                                p
                            .list
                                //span
                            .item
                                .place
                                    i.fas.fa-map-marker-alt
                                    span 
                                .tel
                                    i.fas.fa-phone
                                    span 
                    .block
                        .main_img
                        .main_content
                            .title
                                h3 
                            .brief
                                p
                            .list
                                //span
                            .item
                                .place
                                    i.fas.fa-map-marker-alt
                                    span 
                                .tel
                                    i.fas.fa-phone
                                    span 
                    .block
                        .main_img
                        .main_content
                            .title
                                h3 
                            .brief
                                p
                            .list
                                //span 
                            .item
                                .place
                                    i.fas.fa-map-marker-alt
                                    span 
                                .tel
                                    i.fas.fa-phone
                                    span 
            footer
                ul
                    li(style="border-radius: 4px")
                        i.fas.fa-angle-double-left
                    li 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li(style="border-radius: 4px")
                        i.fas.fa-angle-double-right 

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="../js/index.js")