html, body, canvas
  width: 100%
  height: 100%
  margin: 0

#app
  position: relative  

#playcanvas
  display: none

button
  position: absolute
  transform: translate(760px, -330px)
  background: transparent
  color: #ffffff
  padding: 5px
  border-radius: 5px
  &:hover
    background: #ffffff
    color: #001D2E