<!DOCTYPE html>
html(lang="en")
    head
        - var name = 'Stage8 - Parallax Scrolling'
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= name
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua|Oxygen" rel="stylesheet")
        link(rel="stylesheet", type="text/css" href="css/style.css")
    body
        #app
            .container
                .main.none
                    svg(xmlns="http://www.w3.org/2000/svg" version="1.1")
                        rect
                        circle
                        polygon(points="300,100 110,400 300,400 300,450 490,150 110,150 300,450 300,400 490,400 ")
                        text(x="15" y="275") GEOMETRY PERSON
                        text.text2(x="80" y="320") find your core personality type in shapes!
                .question.none
                    .q1_left
                        .content
                            h1 Q1
                            h2 If one day you get a gift that can change the rule of the world, which ability will you choose? 
                            p Choose the answer appeared in your mind instantly
                            .select 
                                button Destroy all humans in the world                          
                                button Make the war never happened                                    
                                button You won’t get old and live forever                                    
                    .q1_right
                        svg(xmlns="http://www.w3.org/2000/svg" version="1.1")
                            rect
                            polygon(points="100,50 25,150 175,150")
                            circle
                .question.none
                    .q2_left
                        svg(xmlns="http://www.w3.org/2000/svg" version="1.1")
                            rect
                            polygon(points="275,0 75,300 475,300")
                            circle
                    .q2_right
                        .content
                            h1 Q2
                            h2 Imagine you’re almost late, but totally lost at a forked road. Which way do you prefer to go?
                            p Choose the answer appeared in your mind instantly
                            .select 
                                button The left one                        
                                button The right one                                    
                                button Open Google Map                     
                .question.none
                    .q3_left
                        .content
                            h1 Q3
                            h2 When you’re in a exam which you barely prepared for, which is your priority solution? 
                            p Choose the answer appeared in your mind instantly
                            .select 
                                button Take a nap right away                     
                                button Fill the answer randomly                                    
                                button All fill the answer "C"                                    
                    .q3_right
                        svg(xmlns="http://www.w3.org/2000/svg" version="1.1")
                            rect
                            polygon(points="100,0 -30,300 230,300")
                            circle           
                .question.none
                    .result
                        h1 ALL DONE!
                        p Keep scrolling to show the result
                .question.none
                    .result
                        h1 NOW CACULATING
                        p Keep scrolling to show the result
                .question.none
                    .result
                        h1(style="color:#000000") YOU ARE...
                        p Keep scrolling to show the result
                .question.none
                    .result
                        p Your personality type is
                        h1(style="margin: 0") TRIANGLE
                .question
                    .result_left
                        svg(xmlns="http://www.w3.org/2000/svg" version="1.1")                         
                    .result_right
                        .title
                            p Your personality type is
                            h1 TRIANGLE
                        ul
                            li AGGRESSIVE
                            li INDEPENDENT
                            li SELF-MOTIVATED
                        p The triangle type people are natural-born leaders, full of passion and motivation,  trying to fix their mistakes as they go
                        button TRY AGAIN    
                        
                    