<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stage4 - Product Gallery</title>
    <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua|Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="css/sytle.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div id="main" v-if="indexview">
                <div class="logo">SpecLens</div>
                <div class="title" text="LEN'S TOPS">LEN'S TOPS</div>
                <div class="theme1">
                    <div class="theme_title">SWIRL</div>
                    <div class="theme_block"></div>
                    <div class="theme_img" @click="topage"></div>
                    <div class="theme_num">01</div>
                    <div class="theme_spec"></div>
                </div>
                <div class="theme2">
                    <div class="theme_title">radioactivity</div>
                    <div class="theme_block"></div>
                    <div class="theme_img" @click="topage"></div>
                    <div class="theme_num">02</div>
                    <div class="theme_spec"></div>
                </div>
                <div class="theme3">
                    <div class="theme_title">Fish scales</div>
                    <div class="theme_block"></div>
                    <div class="theme_img" @click="topage"></div>
                    <div class="theme_num">03</div>
                    <div class="theme_spec"></div>
                </div>
                <div class="theme4">
                    <div class="theme_title">Donut</div>
                    <div class="theme_block"></div>
                    <div class="theme_img" @click="topage"></div>
                    <div class="theme_num">04</div>
                    <div class="theme_spec"></div>
                </div>
                <div class="theme5">
                    <div class="theme_title">Bubble</div>
                    <div class="theme_block"></div>
                    <div class="theme_img" @click="topage"></div>
                    <div class="theme_num">05</div>
                    <div class="theme_spec"></div>
                </div>
                <div class="theme6">
                    <div class="theme_title">Star</div>
                    <div class="theme_block"></div>
                    <div class="theme_img" @click="topage"></div>
                    <div class="theme_num">06</div>
                    <div class="theme_spec"></div>
                </div>
                <div class="theme7">
                    <div class="theme_title">explosion</div>
                    <div class="theme_block"></div>
                    <div class="theme_img" @click="topage"></div>
                    <div class="theme_num">07</div>
                    <div class="theme_spec"></div>
                </div>
            </div>
            <div id="item" v-if="!indexview">
                <div class="sticker" @click="toindex">
                    <i class="fas fa-arrow-left"></i>
                    <div class="logo">SpecLens</div>
                </div>
                <div class="cover">
                    <div class="cover_title">SWIRL</div>
                    <div class="cover_block"></div>
                    <div class="cover_img"></div>
                    <div class="cover_font">TOP</div>
                    <div class="cover_spec"></div>
                </div>
                <div class="article">
                    <div class="article_title">{{showview.title}}</div>
                    <div class="article_text">{{showview.text}}</div>
                    <div class="article_content">{{showview.content}}</div>
                    <div class="article_annotation">PRODUCT DETAILS</div>
                </div>
                <div class="album">
                    <div class="album_broken"></div>
                    <div class="album_lens"></div>
                    <div class="album_block"></div>
                    <div class="album_spec"></div>
                    <div class="album_hollow"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
