//Color
$main: #F2F2F2 
$second: #fff
$up: #7ED321
$down: #D0021B
$dark: #000

*
    font-family: 'Jua', sans-serif, '微軟正黑體'
    border: solid 1px red


.bg-dark
    background-color: $dark!important

.main
    background-color: $main