html(lang="en")
    head 
        - var name = 'Stage9 - Skill Tree'
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= name
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua|Oxygen" rel="stylesheet")
        link(rel="stylesheet", type="text/css" href="css/style.css")
    body
        .container-fluid 
            .col-md-4
                .title
                    h1 FRONT-END SKILL TREE
                .status
                    .info
                        p CURRENT RANK
                    .level
                        h2 FRONT-END BEGINNER
                .show
                    img(src="../pic/img-ship-noob.png")
                .dialogue
                    p Congradulations! You become the “Front-end Beginnner”. Keep searching the resources to upgrade to the next level.
            .col-md-4
                .skill
                    img(src="../pic/img-planet-basics.png")
                    .item
                        .list
                            .item-skill
                                i.fab.fa-html5
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                    .clear                               
                .skill.skill-2
                    img(src="../pic/img-planet-css.png")
                    .item.item-2
                        .list
                            .item-skill
                                i.fab.fa-html5
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                .skill.skill-3
                    img(src="../pic/img-planet-js.png")
                    .item.item-2
                        .list
                            .item-skill
                                i.fab.fa-html5
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                .skill.skill-4
                    img(src="../pic/img-planet-managers.png")
                    .item.item-2
                        .list
                            .item-skill
                                i.fab.fa-html5
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3
                        .list
                            .item-skill
                                i.fas.fa-wrench
                            .item-list
                                i.fas.fa-cog
                                span 0/3
                            .item-list
                                i.far.fa-dot-circle
                                span 0/3    
            .col-md-4
                .block
                    .skill-block
                        .skill-title
                            i.fab.fa-html5
                            h2 BASIC SKILLS
                    .select-block
                        .select-title
                            i.fas.fa-cog
                            p RECOMMENDED
                        .select
                            button Learn HTML
                            button Basics of CSS
                            button Basics of JavaScript
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src='js/main.js')

                