html(lang="en")
    head 
        - var name = 'Stage9 - Skill Tree'
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= name
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua|Oxygen" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(rel="stylesheet", type="text/css" href="css/style.css")
    body
        .container-fluid 
            .row.justify-content-center
                .col-md-4
                    .title
                        h1 FRONT-END SKILL TREE
                    .status
                        .info
                            p CURRENT RANK
                        .level
                            h2 FRONT-END BEGINNER
                    .show
                        img(src="../pic/img-ship-noob.png")
                    .dialogue
                        p Congradulations! You become the “Front-end Beginnner”. Keep searching the resources to upgrade to the next level.
                .col-md-4
                    .skill(style="margin-top:5%")
                        img(src="../pic/img-planet-basics.png")
                    .arrow
                        i.fas.fa-long-arrow-alt-down
                    .skill
                        img(src="../pic/img-planet-css.png")
                    .arrow
                        i.fas.fa-long-arrow-alt-down
                    .skill
                        img(src="../pic/img-planet-js.png")
                    .arrow
                        i.fas.fa-long-arrow-alt-down
                    .skill
                        img(src="../pic/img-planet-managers.png")                     
                .col-md-4
                    



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")