@charset "UTF-8"

//Color
$dark: #000
$second: #50FF44 
$primary: #F2F2F2
$light: #FFF

//Size
$rows-size: 100px
$columns-size: 128px
$top-x: -9%
$top-y: 0px

@mixin font_size($font-size)
    font-size: $font-size


@mixin img($url)
    background-image: url($url)
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
*
    padding: 0
    box-sizing: border-box
    
html, body
    font-family: 'Jua', sans-serif, '微軟正黑體'
    margin: 0
    


.clear
    clear: both

.viewer
    width: 1024px
    margin: 0 auto
    display: grid
    grid-template-rows: repeat(8, $rows-size)
    grid-template-columns: repeat(8, $columns-size)

.logo
    display: grid
    grid-template-rows: repeat(1, $rows-size)
    grid-template-columns: repeat(8, $columns-size)
    grid-area: 1 / 1 / auto / 9
    background-color: $dark
    height: 75px
    z-index: 1
    p
        +font_size(36px)
        grid-area: 1 / 4 / auto / 6
        letter-spacing: 3px
        color: $second
        text-align: center 
        // align-self: center
        transform: translateY(-70%)
        line-height: 42px

.main   
    display: grid
    grid-template-rows: repeat(8, $rows-size)
    grid-template-columns: repeat(8, $columns-size)
    grid-area: 1 / 1 / 9 / 9
    background-color: $primary
    .ad
        grid-area: 2 / 3 / 3 / auto
        width: 640px
        height: 100px
        +img('https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-1.png')
        transform: translateX($top-x)

    .comic
        grid-area: 2 / 3 / auto / auto
        width: 640px
        height: 440px
        transform: translateX($top-x)
        margin-top: 24px
        .cover
            display: inline-block
            width: 340px
            height: 440px
            +img('https://pbs.twimg.com/media/DhEa43OVQAAHHB1.jpg')
        .introduction
            display: inline-block
            width: 300px
            height: 440px
            float: right
            .title
                margin-top: -36px
                background-color: $dark
                p
                    +font_size(36px)
                    color: $light
                    text-align: center
                    line-height: 36px
                    letter-spacing: 3px
            .genres      
                +font_size(16px) 
                line-height: 24px  
                margin-left: 20px
                margin-top: -40px                                    
                h2
                    display: inline-block 
                    margin-right: 50px
                    width: 50px                   
                p
                    display: inline-block
                    text-align: left
                    width: 120px
            .author
                @extend .genres
                margin-top: -20px
            .status
                @extend .author
            .rate 
                @extend .author
            .summary
                +font_size(16px) 
                line-height: 24px  
                margin-left: 20px
                margin-top: -20px  

    .ad2
        grid-area: 8 / 3 / 9 / auto
        width: 640px
        height: 100px
        +img('https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-2.png')
        transform: translateX($top-x) 

    .chapters
        display: grid
        grid-template-rows: repeat(1, $rows-size)
        // grid-template-columns: repeat(5, $rows-size)
        grid-area: 8 / 3 / auto / 8
        width: 640px
        height: 100px
        transform: translateX($top-x)
        border: 4px solid $dark
        background-color: $light
        .block
                grid-row: 1 /2
                transform: translate(-4px,-48px)
                width: 180px
                height: 45px
                background-color: $dark
                p          
                    +font_size(24px)
                    color: $light
                    text-align: center 
                    margin: 0
                    margin-top: 13px
                a
                    text-decoration: none
                    color: $dark
                    h4  
                        letter-spacing: 2px    
                        width: 330px
                        margin: 0
                        margin-top: 20px
                        margin-left: 10px
                        line-height: 24px
                        cursor: pointer                    
                        &:hover
                            background-color: $dark
                            color: $light
                .new
                    width: 55px
                    height: 18px
                    background-color: $second
                    transform: translate(360px,-43px)
                    h5
                        text-align: center
                        color: $dark
                        +font_size(14px)
                        line-height: 14px
                        padding-top: 2px
                        letter-spacing: 2px
    .ad3 
        grid-area: 12 / 3 / 13 / auto
        width: 640px
        height: 100px
        +img('https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-3.png')
        transform: translate($top-x, -40px)   
        


// page.html
//Size
$switch-size: 60px

.pagemain 
    display: grid
    grid-template-rows: repeat(10, $rows-size)
    grid-template-columns: repeat(8, $columns-size)
    grid-area: 1 / 1 / 11 / 9
    background-color: $primary
    .ad
        grid-area: 2 / 3 / 3 / auto
        width: 640px
        height: 100px
        +img('https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-1.png')
        transform: translateX($top-x)
    .section
        display: grid
        grid-area: 2 / 1 / 3 / 9
        grid-template-rows: repeat(1, $rows-size)
        grid-template-columns: repeat(8, $columns-size)
        .aa
            +font_size(20px)
            grid-area: 1 / 3 / auto / 4
            text-align: center
            align-self: center
            margin: 0
            transform: translateX(-60px)
            color: $dark
            text-decoration: none
            cursor: pointer
        .fa-caret-right
            grid-area: 1 / 3 / auto / 4
            align-self: center
            justify-self: center
            margin-left: 25px
        #chapter
            grid-area: 1 / 4 / auto / 5
            +font_size(16px)
            font-weight: bold
            border: 2px solid $dark
            width: 130px
            height: 35px
            align-self: center
            justify-self: start
            transform: translateX(-40px)
            padding-left: 15px
            cursor: pointer
        #page
            @extend #chapter
            grid-area: 1 / 5 / auto / 6       
        .tool
            display: grid
            grid-area: 1 / 7 / 2 / 8
            grid-template-rows: repeat(1, $rows-size)
            grid-template-columns: repeat(1, $columns-size)
            justify-items: center
            align-items: center
            transform: translateX(-60px)
            i
                grid-area: 1 / 1 / 2 / 2
                +font_size(20px)
            .fa-sun
                transform: translateX(-50px)
            .fa-moon
                transform: translateX(50px)
            .switch
                grid-area: 1 / 1 / 2 / 2
                width: 50px
                cursor: pointer
    .pagead2
        grid-area: 4 / 3 / 5 / auto
        width: 640px
        height: 100px
        +img('https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-2.png')
        transform: translateX($top-x) 
    .pageview
        display: grid
        grid-area: 3 / 1 / 13 / 9
        grid-template-rows: repeat(10, $rows-size)
        grid-template-columns: repeat(8, $columns-size)
        .comics
            grid-area: 1 / 3 / auto / auto
            width: 640px
            height: 800px
            background-size: cover 
            background-repeat: no-repeat 
            background-position: center
            // +img('https://pbs.twimg.com/media/DhEa43OVQAAHHB1.jpg')
            transform: translateX($top-x) 
        button
            border: none
            background-color: $primary
            border-radius: 2px
            &:hover
                background-color: $dark
        .left
            grid-area: 5 / 2 / 6 / 3
            i
            +font_size(50px)
            cursor: pointer
            justify-self: start
            margin-left: 30px
            &:hover
                color: $second
        .right
            grid-area: 5 / 7 / 6 / 8
            justify-self: end
            margin-right: 20px
            i
            +font_size(50px)
            cursor: pointer
            &:hover
                color: $second

.pagead3
    grid-area: 18 / 3 / 19 / auto
    width: 640px
    height: 100px
    +img('https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-3.png')
    transform: translate($top-x, -15px)


.footer
    display: grid
    grid-area: 12 / 3 / 13 / 9
    grid-template-rows: repeat(1, $rows-size)
    grid-template-columns: repeat(6, $columns-size)
    width: 640px
    transform: translateX($top-x)
    overflow: scroll
    overflow-y: hidden
    margin-bottom: 10px
    .ulnav
        grid-area: 1 / 1 / 2 / 8
        height: 120px
        width: 960px
        margin: 0
        li         
            display: inline-block
            width: calc(10% - 21px)
            height: 100%          
            p  
                z-index: 1
                margin: 0
                text-align: center
            img
                width: calc(100% - 15px)
                cursor: pointer

.button_item
    display: grid
    grid-area: 12 / 2 / 13 / 8
    grid-template-rows: repeat(1, $rows-size)
    grid-template-columns: repeat(6, $columns-size)
    button
        cursor: pointer
        width: 50px
        height: 100px
        +font_size(30px)
        background-color: rgba(0, 0, 0, 0.5)
        border: none
        border-radius: 2px
        &:hover
            background-color: $second
    #prev
        grid-area: 1 / 1 / 2/ 2
        z-index: 1
        margin-left: 65px
    #next
        grid-area: 1 / 6 / 2 / 7
        margin-left:  30px         
        z-index: 1
                    

                


