@charset "UTF-8"

//Color
$black: #000
$white: #FFF
$green: #50E3C2
//Size
$columns-size: 120px
$rows-size: 100px


@mixin font_size($font-size)
    font-size: $font-size

@mixin spec
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.2, $green), color-stop(0.2, transparent), color-stop(0.5, transparent), color-stop(0.5, $green), color-stop(0.7, $green), color-stop(0.7, transparent), to(transparent))


html, body
    font-family: 'Jua', sans-serif, '微軟正黑體'

.container, .main
    // text-align: center
    margin: 0px auto
    width: 960px
    height: 2000px
    display: grid 
    grid-template-rows: repeat(20, $rows-size)
    grid-template-columns: repeat(8, $columns-size)
    margin-top: 30px
    padding: 0
    // align-items: center

.logo
    +font_size(20px)
    grid-area: 1 / 4 / 2 / 6
    background-color: $black
    color: $white
    width: 100px
    height: 24px
    text-align: center
    justify-self: center
 
.title
    +font_size(50px)
    height: 85px
    grid-area: 1 / 3 / 2 / 7
    margin-top: 30px
    text-align: center
    transform: translateY(25%)
    position: relative
    &::before
        content: attr(text) 
        color: rgba(0, 0, 0, 0.3)
        height: 21px
        overflow: hidden
        margin-top: -10px
        position: absolute

.theme_img
    cursor: pointer

.theme1
    display: grid
    grid-area: 2 / 1 / 8 / 6
    grid-template-rows: repeat(5, $rows-size)
    grid-template-columns: repeat(5, $columns-size)
    text-transform: uppercase

.theme1 .theme_title
    grid-area: 2 / 1 / 3 / 4
    +font_size(48px)
    z-index: 2
    line-height: 48px
    text-align: left
    margin-top: -20px

.theme1 .theme_block
    grid-area: 1 / 4 / 3 / 6
    border: 20px solid $green 
    transform: translate(-25%, 25%)

.theme1 .theme_img
    grid-area: 2 / 1 / auto / auto
    background-image: url('../pic/theme1.jpg')
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
    width: 480px
    height: 400px
    z-index: 1

.theme1 .theme_num
    +font_size(48px)
    grid-area: 6 / 1 / 7 /auto
    text-align: left

.theme1 .theme_spec
    grid-area: 6 / 1 / 7 / 3
    background-size: 40px 40px
    +spec
    transform: translate(25%, -50%)
    z-index: 2

// .theme1 .description

.theme2
    display: grid
    grid-area: 2 / 6 / 7 / 9
    grid-template-rows: repeat(5, $rows-size)
    grid-template-columns: repeat(3, $columns-size)
    text-transform: uppercase

.theme2 .theme_title
    grid-area: 5 / 1 / 6 / 4
    +font_size(48px)
    line-height: 100px 

.theme2 .theme_block
    grid-area: 2 / 2 / 4 / 4
    border: 20px solid $green

.theme2 .theme_img
    grid-area: 3 / 1 / auto / auto
    background-image: url('../pic/theme2.jpg')
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
    width: 240px
    height: 200px
    z-index: 1

.theme2 .theme_num
    +font_size(48px)
    grid-area: 2 / 3 / auto / auto
    text-align: right
    line-height: 48px

.theme2 .theme_spec
    background-color: $green
    grid-area: 3 / 1 / 5 / 3
    transform: translate(25%, -25%)
    
.theme3
    display: grid
    grid-area: 8 / 1 / 12 / 6
    grid-template-rows: repeat(4, $rows-size)
    grid-template-columns: repeat(5, $columns-size) 
    text-transform: uppercase

.theme3 .theme_title
    grid-area: 1 / 2 / auto / 5
    +font_size(48px)
    line-height: 160px
    text-align: right
    z-index: 1

.theme3 .theme_block
    grid-area: 2 / 3 / 4 / 5
    border: 20px solid $green
    transform: translate(25%, 25%)

.theme3 .theme_img
    grid-area: 2 / 1 / auto / auto
    background-image: url('../pic/theme3.jpg')
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
    width: 480px
    height: 200px
    z-index: 1

.theme3 .theme_num
    +font_size(48px)
    grid-area: 4 / 5 / auto / auto
    line-height: 48px
    z-index: 1

.theme3 .theme_spec
    background-color: $green
    grid-area: 1 / 1 / 3 / 3
    transform: translate(0 , 25%)

.theme4
    display: grid
    grid-area: 8 / 6 / 14 / 10
    grid-template-rows: repeat(6, $rows-size)
    grid-template-columns: repeat(3, $columns-size)
    text-transform: uppercase

.theme4 .theme_title
    grid-area: 2 / 1 / 4 / auto
    +font_size(48px)
    z-index: 1
    justify-self: end
    text-align: right 
    transform: rotate(180deg)
    writing-mode: vertical-rl

.theme4 .theme_block
    grid-area: 1 / 2 / 3 / 4
    border: 20px solid $green
    transform: translateX(-25%)

.theme4 .theme_img
    grid-area: 2 / 2 / auto / auto
    background-image: url('../pic/theme4.jpg')
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
    width: 240px
    height: 400px
    z-index: 1

.theme4 .theme_num
    +font_size(48px)
    grid-area: 5 / 1 / auto / auto
    line-height: 48px
    text-align: right
    align-self: end


.theme4 .theme_spec
    grid-area: 5 / 2 / 6 / 4
    background-size: 40px 40px
    +spec    
    transform: translateY(50%)
    z-index: 2

.theme5
    display: grid
    grid-area: 12 / 1 / 15 / 5
    grid-template-rows: repeat(3, $rows-size)
    grid-template-columns: repeat(4, $columns-size)   
    text-transform: uppercase

.theme5 .theme_title
    grid-area: 2 / 2 / 3 / 4
    +font_size(48px)
    z-index: 2
    text-align: center
    transform: translateX(-50px)
    align-self: end
    line-height: 48px

.theme5 .theme_block
    grid-area: 3 / 2 / 5 / 4
    border: 20px solid $green
    transform: translateY(50%)
    
.theme5 .theme_img
    grid-area: 2 / 3 / auto / auto
    background-image: url('../pic/theme5.jpg')
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
    width: 240px
    height: 200px
    z-index: 1

.theme5 .theme_num
    +font_size(48px)
    grid-area: 3 / 2 / 4 / 3
    text-align: left
    align-self: end
    z-index: 1

.theme5 .theme_spec
    grid-area: 1 / 1 / 2 / 3
    background-size: 40px 40px
    +spec    
    transform: translate(30%, 50%)
    z-index: 2


.theme6
    display: grid
    grid-area: 14 / 5 / 19 / 9
    grid-template-rows: repeat(4, $rows-size)
    grid-template-columns: repeat(4, $columns-size)   
    text-transform: uppercase

.theme6 .theme_title
    grid-area: 1 / 2 / 2 / 5
    +font_size(48px)
    text-align: center
    align-self: end
    line-height: 48px

.theme6 .theme_block
    grid-area: 5 / 1 / 6 / 5
    border: 20px solid $green
    transform: translateY(50%)

.theme6 .theme_img
    grid-area: 2 / 1 / auto / auto
    background-image: url('../pic/theme6.jpg')
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
    width: 480px
    height: 400px
    z-index: 1

.theme6 .theme_num
    +font_size(48px)
    grid-area: 3 / 1 / 4 / 2
    align-self: end
    transform: translateX(-50%)


.theme6 .theme_spec
    background-color: $green
    grid-area: 4 / 1 / 6 / 2
    transform: translate(-50%)

.theme7
    display: grid
    grid-area: 16 / 1 / 21 / 4
    grid-template-rows: repeat(5, $rows-size)
    grid-template-columns: repeat(3, $columns-size)   
    text-transform: uppercase

.theme7 .theme_img
    grid-area: 2 / 1 / auto / auto
    background-image: url('../pic/theme7.jpg')
    background-size: cover 
    background-repeat: no-repeat 
    background-position: center
    width: 240px
    height: 400px
    z-index: 1


.theme7 .theme_title
    grid-area: 2 / 3 / 4 / 4
    +font_size(48px)
    line-height: 48px
    justify-self: start
    writing-mode: vertical-rl
    z-index: 1

.theme7 .theme_block
    grid-area: 1 / 1 / 5 / 3
    border: 20px solid $green
    transform: translateX(25%)

.theme7 .theme_num
    +font_size(48px)
    grid-area: 5 / 3 / 6 / 4
    align-self: end
    text-align: right
    z-index: 1

.theme7 .theme_spec
    background-color: $green
    grid-area: 4 / 3 / 6 / 4

.sticker
    display: grid
    grid-area: 1 / 1 / 2 / 3
    grid-template-rows: repeat(1, $rows-size)
    grid-template-columns: repeat(3, $columns-size)
    text-transform: uppercase
    text-decoration: none
    color: $black
    cursor: pointer
    .logo
        grid-area: 1 / 2 / 2 / 3
        align-self: center
    .fas
        grid-area: 1 / 1 / auto / auto
        align-self: center
        justify-self: end
        +font_size(24px)

.cover
    display: grid
    grid-area: 2 / 1 / 8 / 9
    grid-template-rows: repeat(6, $rows-size)
    grid-template-columns: repeat(8, $columns-size)
    text-transform: uppercase
    .cover_title
        position: relative
        display: inline-block
        grid-area: 1 / 6 / 2 / 8
        +font_size(48px)
        justify-self: end
        align-self: end
        &::after
            content: "broken"
            writing-mode: vertical-rl
            position: absolute
            top: 100%
            right: -40%
    .cover_block
        grid-area: 1 / 1 / 3 / 3
        background-color: $green
        transform: translate(25%, 25%)
    .cover_img
        grid-area: 2 / 2 / auto / auto 
        background-image: url('../pic/theme1.jpg')
        background-size: cover 
        background-repeat: no-repeat 
        background-position: center
        width: 720px
        height: 400px
        z-index: 1
    .cover_font
        position: relative
        display: inline-block
        +font_size(48px)
        grid-area: 6 / 2 / 7 / 3
        transform: rotate(-180deg)
        align-self: start
        justify-self: start
        &::after
            content: "01"
            writing-mode: vertical-lr
            position: absolute
            top: 100%
            right: -55%
    .cover_spec
        grid-area: 4 / 4 / 6 / 8
        border: 20px solid $green
        transform: translate(15% ,25%)

.article
    display: grid
    grid-area: 9 / 1 / 13 / 9
    grid-template-rows: repeat(4, $rows-size)
    grid-template-columns: repeat(8, $columns-size)
    text-transform: uppercase
    .article_title
        grid-area: 1 / 3 / 2 / 7
        +font_size(48px)
    .article_text
        grid-area: 1 / 3 / 2 / 7
        +font_size(24px)
        align-self: end
    .article_content
        grid-area: 2 / 3 / 5 / 8
        +font_size(16px)
        line-height: 24px
    .article_annotation
        grid-area: 1 / 2 / 3 / 3
        +font_size(24px)
        writing-mode: vertical-lr

        
.album
    display: grid
    grid-area: 14 / 1 / 21 / 9
    grid-template-rows: repeat(7, $rows-size)
    grid-template-columns: repeat(8, $columns-size)
    text-transform: uppercase
    .album_broken
        grid-area: 1 / 2 / auto / auto
        width: 360px
        height: 300px 
        background-image: url('../pic/item/item1.jpg')
        background-size: cover 
        background-repeat: no-repeat 
        background-position: center
        z-index: 1
    .album_lens
        grid-area: 3 / 4 / auto / auto
        width: 480px
        height: 400px 
        background-image: url('../pic/item/item1-2.jpg')
        background-size: cover 
        background-repeat: no-repeat 
        background-position: center
    .album_block
        grid-area: 2 / 6 / 4 / 8
        background-color: $green
        z-index: -1
        transform: translateX(25%)
    .album_spec 
        grid-area: 6 / 3 / 7 / 5
        background-size: 40px 40px
        +spec
        transform: translate(-25%, 50%)
        z-index: 2
    .album_hollow
        grid-area: 2 / 1 / 4 / 5
        border: 20px solid $green
        transform: translate(15% ,25%)
        z-index: -1
            